@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}
section{
    padding: 150px 120px;
    
    
    }
.main{
width: 100%;

background: url(image/photo-1605296867304-46d5465a13f1.jpg);
background-size: cover;
background-position:center;

}
header{
    position: absolute;
    display: flex;

    
    left: 30px;
    top: 0px;
margin-top: 20px;

   
}
.pa{
 
    color: white;
    font-size: 1.5em;
    font-weight: bold;

  margin-right: 150px;
    
}
.pa span{

    color:#ff8000;
}
.navagation a{
    text-decoration: none;
    color:#ff8000;
    font-size: 0.6em;
    font-weight: 400;

    padding-right: 60px;
    


}
.navagation i{
    text-decoration: none;
    color:#ff8000;
    font-size: 0.6em;
    font-weight: 400;
  
    padding-right: 2px;
  
   margin-left: 10px;

}
.pr{
    color: white;
    display: flex;
    justify-content: center;
margin-left: 250px;
font-weight: 800;
font-size: 1.5em;

}
.main-bin{
    color: #fff;
    background-color:#ff8000;
    text-decoration: none;
    font-size: 0.4em;
    font-weight: 200;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;


}
.main-bin:hover{

    background-color: #0a49f6;
    transform: scale(1.1);}
span{
    color: #ff8000;
}

@media (max-width :500px){
    section{
padding: 170px 30px;

    }
    .pa{
    
        font-size: 1.2em;
    
    
      margin-right: 20px;
    }
    .navagation i{
        
        font-size: 0.2em;
        font-weight: 100;
      
        padding-right: 0px;
      
       margin-left: 0px;
    
    }
    .pr{
        
    margin-left: 50px;
    font-weight: 500;
    font-size: 0.8em;
    
    }
    .main-bin{
       
        font-size: 0.2em;
        font-weight: 200;
       
    
    
    }
    .navagation a{
      
        font-size: 0.4em;
        font-weight: 200;
    
        padding-right: 5px;
        
    
    
    }

}